<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>JSONCollector</servlet-name>
        <servlet-class>net.sig13.sensor.sc4.JSONCollector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WindSpeed</servlet-name>
        <servlet-class>net.sig13.sensor.sc4.WindSpeed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PowerWatts</servlet-name>
        <servlet-class>net.sig13.sensor.sc4.PowerWatts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Humidity</servlet-name>
        <servlet-class>net.sig13.sensor.sc4.Humidity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Temp0</servlet-name>
        <servlet-class>net.sig13.sensor.sc4.Temp0</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Temp1</servlet-name>
        <servlet-class>net.sig13.sensor.sc4.Temp1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Temp2</servlet-name>
        <servlet-class>net.sig13.sensor.sc4.Temp2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pressure0</servlet-name>
        <servlet-class>net.sig13.sensor.sc4.Pressure0</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PressureAll</servlet-name>
        <servlet-class>net.sig13.sensor.sc4.PressureAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSONCollector</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WindSpeed</servlet-name>
        <url-pattern>/windSpeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PowerWatts</servlet-name>
        <url-pattern>/powerWatts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Humidity</servlet-name>
        <url-pattern>/humidity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Temp0</servlet-name>
        <url-pattern>/temp0</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Temp1</servlet-name>
        <url-pattern>/temp1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Temp2</servlet-name>
        <url-pattern>/temp2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pressure0</servlet-name>
        <url-pattern>/pressure0</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PressureAll</servlet-name>
        <url-pattern>/pressureAll</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>sensor collector database</description>
        <res-ref-name>jdbc/SC4</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
